.shadow-information {
  border: 2px solid #D9D9D9;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.shadow-product {
  border: 2px solid #D9D9D9;
  box-shadow: 10px 10px 10px 0px #00000040;
}

.shadow-checkout {
  box-shadow: 2px 2px 10px 2px #00000040;
}

.shadow-checkout-box {
  box-shadow: 0px 4px 4px 0px #00000040;
}